{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="container mx-auto py-8 content">
        <h1>Pagina niet gevonden!</h1>
        <p class="w-2/3">
            Deze pagina bestaat helaas niet (meer). Probeer via het menu te zoeken naar een andere pagina.
            Je kan ook onze arrangementen per thema bekijken.
            Of naar <a href="/" title="home" class="text-yellow">Onze homepage</a> gaan.
        </p>
        <p></p>
    </main>
    {{ include('templates/partials/pages/home/themes.html.twig') }}
{% endblock %}
