{% extends 'layouts/app.twig' %}

{% block content %}
<!-- Homepage banner -->
{{ include('partials/pages/home/banner.html.twig') }}

<!-- Theme banner -->
{{ include('partials/pages/home/themes.html.twig') }}

{% do action('') %}
<!-- Main content -->
<main class="container mx-auto py-8 main-content">
    <!-- CTA -->
    {{ include('partials/pages/home/cta.html.twig') }}
    <!-- Arrangements -->
    {{ include('partials/pages/home/arrangements.html.twig') }}
</main>
{% endblock %}
