@use 'abstracts';

.nav-button {
  margin-left: auto;
}

.nav-bar {
  @media screen and (abstracts.get-size-query('md')) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.nav-item {
  display:block;
  text-align: right;

  color: abstracts.get-color('black');

  &.current-menu-item {
    color: abstracts.get-color('green');
  }

  &:hover {
    color: abstracts.get-color('yellow');
  }

  @media screen and(abstracts.get-size-query('md')) {
    &:not(:last-of-type) {
      margin: abstracts.sizes-full(0, 3rem, 0, 0);
    }
  }

  @include abstracts.transition;
}
