<meta charset="{{ site.charset }}">

<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ wp_title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="base_assets" content="{{ theme.link }}/">

<script src="https://kit.fontawesome.com/392cea720e.js" crossorigin="anonymous"></script>

{% do action('bdb_head') %}
