<header class="header">
    <div class="container mx-auto lg:flex md:py-4 px-4 lg:px-0">
        <div class="header-start">
            {{ include('partials/header/logo.html.twig') }}
        </div>
        <div class="header-end">
            {{ include('partials/header/navbar.html.twig') }}
        </div>
    </div>
</header>
