<style>
    .single_arrangement-banner {
        background-image: url("{{ meta.image.src|apply_filters('bdb/single-arrangement/content/banner/background-image/url') }}");
    }
</style>
<header class="single_arrangement-banner bg-blue-opaque" role="banner">
    <section class="single_arrangement-banner--body">
        <h1>{{ post.title|apply_filters('bdb/single-arrangement/content/banner/title') }}</h1>
    </section>
</header>
