<style>
    .single_arrangement-banner {
        background-image: url("{{ meta.image.src }}");
    }
</style>
<header class="single_arrangement-banner bg-blue-opaque" role="banner">
    <section class="single_arrangement-banner--body">
        <h1>{{ post.title }}</h1>
    </section>
</header>
