<section class="bg-green-opaque py-8">
    <div class="container mx-auto meta">
        {% do action('bdb/single-arrangement/meta/wrapped/pre') %}
        <div class="meta--container">
            <i class="{{ 'far fa-clock'|apply_filters('bdb/single-arrangement/meta/icons/time') }}"></i>
            <span>{{ post.meta('time') }}</span>
        </div>
        <div class="meta--container">
            <i class="{{ 'fas fa-euro-sign'|apply_filters('bdb/single-arrangement/meta/icons/price') }}"></i>
            <span>{{ post.meta('price') }}</span>
        </div>
        {% do action('bdb/single-arrangement/meta/wrapped/post') %}
    </div>
</section>
