@use 'abstracts';

.gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media screen and (abstracts.get-size-query('sm')) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (abstracts.get-size-query('md')) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
