@use 'abstracts';

.main-content {
  display: flex;
  flex-direction: column;

  &--banner {
    min-height: 25vh;
    margin: abstracts.sizes-full(0, 1rem, 1rem, 1rem);
    padding: 6rem 2rem;
    color: abstracts.get-color('white');
    text-shadow: 0 3px 6px rgba(51, 51, 51, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-position: center center;

    &--footer {
      margin: abstracts.sizes-full(1rem, auto, 0);

      .button {
        &::after {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    h2 {
      text-align: center;
    }
  }

  @media screen and (abstracts.get-size-query('md')) {
    &--banner {
      margin: abstracts.sizes-full(0, 0, 1rem, 0);
    }
  }

  @media screen and (abstracts.get-size-query('lg')) {
    flex-direction: row;

    > section {
      flex: 1 1 66%;
    }

    &--banner {
      flex: 1 1 33%;
      min-height: unset;
      margin: abstracts.sizes-full(0, 4rem, 0, 0);

      &--footer {
        margin: abstracts.sizes-full(auto, auto, 0);
      }
    }
  }
}
