@use 'abstracts';

@media screen and (abstracts.get-size-query('md')) {
  .main-content {
    display: flex;

    > * {
      flex: 1 1 50%;
    }
  }

  .main-content--banner {
    margin-right: 4rem;
    padding: 4rem 2rem;
    color: abstracts.get-color('white');
    display: flex;
    flex-direction: column;
    position: relative;

    &--footer {
      margin: abstracts.sizes-full(auto, auto, 0);

      .button {
        &::after {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    h2 {
      text-align: center;
    }
  }
}
