<section class="bg-blue-opaque">
    <div class="container mx-auto py-8">
        <article class="media">
            <figure class="image-left">
                <img src="https://i.pravatar.cc/200" alt="Altijd persoonlijk contact!" />
            </figure>
            <div class="media-content">
                <h3 class="media-title">Contact</h3>
                <p>Heb je een vraag over een arrangement of wil je eerst contact. Bel of mail ons dan.</p>
                <footer class="media-content--footer">
                    <a class="button is-blue is-outlined lg:mr-4 mb-4 lg:mb-0" href="tel:06 2715 3288"><i class="fas fa-phone fa-flip-horizontal mr-4"></i> 06 2715 3288</a>
                    <a class="button is-blue is-outlined" href="mailto:info@beleefdebeemster.nl"><i class="fas fa-envelope mr-4"></i> info@beleefdebeemster.nl</a>
                </footer>
            </div>
        </article>
    </div>
</section>
