<section class="bg-green">
    <div class="container mx-auto py-4 reviews-wrapper">
        <h3 class="review-title heading-2 mb-4">Reviews</h3>
        <section class="reviews">
            {% for review in reviews %}
                {{ include('partials/tease/review.html.twig', { post: review }, with_context = false) }}
            {% endfor %}
        </section>
        <div class="review-indicators mt-4">
            <button type="button" class="js-review-selector review-dot" onclick="window.review.showSlide(0)" data-review="0"></button>
            <button type="button" class="js-review-selector review-dot" onclick="window.review.showSlide(1)" data-review="1"></button>
            <button type="button" class="js-review-selector review-dot" onclick="window.review.showSlide(2)" data-review="2"></button>
        </div>
    </div>
</section>
