<section>
    {% do action('bdb/front-page/content/main/arrangements/pre') %}
    <h3 class="mb-4 mx-4 md:mx-0">{{ __('Uitgelichte arrangementen', 'bdb') }}</h3>
    <nav role="doc-pagelist" class="main-content--arrangements">
        {% for arrangement in arrangements %}
            {{ include('partials/tease/arrangement.html.twig', { post: arrangement }, with_context = false) }}
        {% endfor %}
    </nav>
    {% do action('bdb/front-page/content/main/arrangements/post') %}
</section>
