{% set _bg = Image(post.get_field('button_image')) %}
<style>
    .main-content--banner {
        background-image: url("{{ _bg.src('large')|apply_filters('bdb/front-page/content/main/cta/background/url') }}");
    }
</style>
<aside class="main-content--banner bg-yellow-opaque">
    <div class="main-content--banner--header">
        <h2>
            {{ post.get_field('button_title')|apply_filters('bdb/front-page/content/main/cta/title') }}
        </h2>
    </div>
    <div class="main-content--banner--footer">
        {% set pageUrl = post.get_field('button_link') %}
        {% set link = pageUrl|length > 0? pageUrl : get_post_type_archive_link('arrangement') %}
        <a class="button is-green"
           href="{{ link|apply_filters('bdb/front-page/content/main/cta/button/url') }}">
            {{ __('Bekijk het arrangement', 'bdb')|apply_filters('bdb/front-page/content/main/cta/button/content') }}
        </a>
    </div>
</aside>
