<section role="complementary" class="{{ ['bg-green-opaque', 'py-8', 'theme-banner']|apply_filters('bdb/front-page/content/themes/container/class')|join(' ') }}">
    <div class="container mx-auto">
        <h3 class="heading-2 theme-banner--title">{{ __('Onze thema\'s', 'bdb')|apply_filters('bdb/front-page/content/themes/title') }}</h3>
        {% do action('bdb/front-page/content/themes/pre') %}
        <nav class="theme-banner--list" role="doc-pagelist">
            {% for theme in themes|apply_filters('bdb/front-page/content/themes') %}
                {{ include('partials/tease/theme.html.twig', { theme: theme }, with_context = false ) }}
            {% endfor %}
        </nav>
        {% do action('bdb/front-page/content/themes/post') %}
    </div>
</section>
