@use 'abstracts';
$_spacing: 1rem;

.location-card {
  background: abstracts.get-color('white');
  // flex settings
  flex: 1 1 auto;
  position: relative;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.2);
  align-self: flex-start;
  margin: abstracts.sizes-full(0, 1rem, 1rem);

  &--figure {
    width: 100%;
    img {
      width: 100%;
      height: 200px;
      max-height: 200px;
      object-fit: cover;
    }
  }

  &--content {
    padding: abstracts.sizes-full(1rem);
  }

  &--link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media screen and (abstracts.get-size-query('lg')) {
    width: calc(25% - #{$_spacing});
    margin: abstracts.sizes-full(0, $_spacing, $_spacing, 0);

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:nth-last-of-type(-n + 4) {
      margin-bottom: 0;
    }
  }
}
