@use 'abstracts';
$_spacing: 1rem;

.location-card {
  background: abstracts.get-color('white');
  // flex settings
  flex: 0 1 calc(25% - #{$_spacing});
  position: relative;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.2);
  align-self: flex-start;

  &--figure {
    width: 100%;
    img {
      width: 100%;
    }
  }

  &--content {
    padding: abstracts.sizes-full(1rem);
  }

  &--link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  margin-right: $_spacing;
  &:nth-of-type(4n) {
    margin-right: 0;
  }

  margin-bottom: $_spacing;

  &:nth-last-of-type(-n+4) {
    margin-bottom: 0;
  }
}
