@use 'abstracts';

.review-title {
  color: abstracts.get-color('black');
  font-weight: 400;
  @media screen and (abstracts.get-size-query('md')) {
    text-align: center;
  }
}

.reviews {
  @media screen and (abstracts.get-size-query('md')) {
    display: flex;
    overflow: hidden;
  }
}

.review {
  text-align: center;
  line-height: 1;
  @media screen and (abstracts.get-size-query('md')) {
    flex: 0 0 50%;
    margin: abstracts.sizes-full(0, auto);
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.review-indicators {
  @media screen and (abstracts.get-size-query('md')) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.review-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid abstracts.get-color('white');
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;

  &:hover,
  &.is-active {
    background-color: abstracts.get-color('white');
  }

  @include abstracts.transition;
}
