@use 'sass:list';
@use 'sass:map';
@use 'abstracts/variables/sizes';

@function padding-full($sizes...) {
  @warn 'Deprecated use `sizes-full` instead';
  @return sizes-full($sizes);
}

@function margin-full($sizes...) {
  @warn 'Deprecated use `sizes-full` instead';
  @return sizes-full($sizes);
}

@function sizes-full($sizes...) {
  $size: ();
  @if list.length($sizes) > 4 {
    @warn 'More than 4 sizes passed. Only using first four';
  }

  @if list.length($sizes) >= 4 {
    @for $i from 0 to 4 {
      $size: list.join($size, list.nth($sizes, $i + 1));
    }

    @return $size;
  }

  @for $i from 0 to list.length($sizes) {
    $size: list.join($size, list.nth($sizes, $i + 1));
  }

  @return $size;
}
